* { margin-top: 0;
    margin-bottom: 0;
}

*:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border:none
}

.loading {
  font-size: calc(16px + 2vmin);
  height: 400px;
  line-height: 400px;
  text-align: center;
}

.topbar {
  font-family: Impact, Charcoal, sans-serif;
  font-size: calc(8px + 2vmin);
  border-radius: 5px;
  margin:10px;
  height:auto;
  width:auto;
  background-color:#fff;
  position:fixed!important;
  z-index:1;
  overflow:auto
}

.bottombar {
  font-family: Impact, Charcoal, sans-serif;
  font-size: calc(6px + 2vmin);
  border-radius: 5px;
  margin:24px;
  height:auto;
  width:auto;
  bottom:0;
  right:40px;
  text-align:left;
  background-color:#fff;
  position:fixed!important;
  z-index:1;
  overflow:auto
}

.sidebar {
  font-family: Impact, Charcoal, sans-serif;
  font-size: calc(10px + 1vmin);
  border-radius: 5px;
  padding-top: 12px;
  height:auto;
  width:auto;
  bottom:0;
  top:0;
  margin:10px;
  /*margin-bottom:10px;*/
  background-color:#fff;
  position:fixed!important;
  z-index:2;
  overflow:auto
}

.drop {
  font-family: Impact, Charcoal, sans-serif;
  font-size: calc(10px + 1vmin);
  border-radius: 5px;
  height:auto;
  width:inherit;
  background-color:#DCDCDC;
  z-index:2;
}

.panel {
  font-family: Impact, Charcoal, sans-serif;
  font-size: calc(5px + 2vmin);
  border-radius: 5px;
  height:auto;
  width:auto;
  /* padding:20px; */
  padding-left:20px;
  padding-right:20px;
  padding-bottom:auto;
  bottom:0;
  top:0;
  left:100px;
  margin:10px;
  /*margin-bottom:10px;*/
  background-color:#DCDCDC;
  position:fixed!important;
  z-index:1;
  overflow:auto
}

.panel-title {
  font-family: Impact, Charcoal, sans-serif;
  font-size: calc(10px + 2vmin);
  text-align:center;
}

.panel-header {
  border-bottom: 1px solid #bbb;
  font-size: calc(10px + 2vmin);
}

.panel-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-right {
  display: flex;
  align-items: right;
  justify-content: right;
}

.panel-table {
  width: 100%
}

.panel-table-el {
  border-bottom: 1px solid #bbb
}

a {
  color:white;
  padding:14px 16px;
}

a:hover:not(.active) {
  background-color: #444;
}